# Angular / Node
node_modules/
dist/
.angular/
coverage/

# Editor
.vscode/

# Logs & environment
*.log
.env
.env.local

# .NET build files
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# OS files
.DS_Store
Thumbs.db
